<!DOCTYPE html>
<html>
<body>

<h1 style="color:red;text-align:center;">This is a simple html page from Team 1</h1>
<h2 style="text-align:center;">Please be patient more interesting content comming soon from our Jenkins</h2>
<p style="color:blue;text-align:center;">It is running behind haproxy loadbalancer on server {{ ansible_nodename }}</p>

</body>
</html>
